* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

#keywords{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-container {
height: 66px;
background-color: #ff7f00;
}

.header-container a {
    width: 60px;
    height: 15px;
    font-family: Montserrat;
    font-size: 19px;
    margin-right: 57px;
    color: #ffffff;
    text-decoration: none;
}

.Layer-2 {
width: 133px;
height: 22px;
object-fit: contain;
margin: 24px 20px;
margin-left: 49px;
}
  
img {
width: 100%;
height: 100%;
object-fit: cover;
padding: 2px;
border-radius: 30px;
}

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.8s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.navbar-nav{
display: flex;
flex-direction: row;
justify-content: flex-end;
}

h1{
display: flex;
justify-content: center;
align-items: center;
}
  
.words li {
    /* display: flex; */
    flex-wrap: wrap;
color: rgb(199, 82, 4);
text-decoration: none;
display: block;
line-height: 50px;
height: 50px;
    /* width: 8.4375rem; */
    justify-content: center;
text-align: center;
cursor: pointer;
}

  
.container{
    /* display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-column-gap: 5px; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 20;
    margin-bottom: 100px;
    margin-left: 50px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .item{
    grid-column: span 2;
    width: 200px;
  }
  
.item *{
    visibility: visible
}
  
  ul{
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-between;  */
    align-items: center;
    /* flex-direction: row; */
    list-style: none;
    
}

li{
display: flex;
justify-content: space-between;
}


.team-member {
    text-align: center;
}
.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid white;
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member p {
    margin-top: 0;
}

.contact-ways {
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;
}

footer{
    height: 207px;
    background-color: #ff7f00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.Layer-2-footer{
width: 133px;
height: 22px;
object-fit: contain;
margin: 77px 534px 108px 533px;
}

h5{
    color: white;
    margin-top: -100px;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 100;
}
.fa {
    font-size: 30px;
    color: #ff7f00;
}